{% extends 'base.html' %}


{% block content %}
<div class="properties-area recent-property" style="background-color: #FFF;">
    <div class="container"> 
        <div class="row  pr0 padding-top-40 properties-page">
            <div class="col-md-12 padding-bottom-40 large-search"> 
                <div class="search-form wow pulse">
                    <form action="{% url 'post_list' %}" class="form-inline">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Key word" name="keyword">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="city" name="city">
                            </div>
                            <div class="col-md-2">                                     
                                <select id="basic" class="selectpicker show-tick form-control" class="category" name="cat">
                                    <option value="rent" selected>Rent </option>
                                    <option value="sale">Sale</option>
                                    <option value="lease">Lease</option>  
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-primary" value="search">
                            </div>
                        </div>

                    </form>
                </div>
            </div>


            <div class="col-md-12 clear "> 
                <div id="list-type" class="proerty-th">
                    {% for post in posts %}
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            
                            <div class="item-thumb">
                                {% with post.postimage_set.all|first as img %}
                                    <img src="{{img.picture.url}}">
                                {% endwith %}
                            </div>


                            <div class="item-entry overflow">
                                <h5><a href="{% url 'post_detail' post.pk %}"> {{post.title}} </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Area :</b> 120m </span>
                                <span class="proerty-price pull-right"> ${{post.price}}</span>
                                <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                <div class="property-icon">
                                    <img src="/static/assets/img/icon/bed.png">(5)|
                                    <img src="/static/assets/img/icon/cars.png">(1)  
                                </div>
                            </div>


                        </div>
                    </div> 
                    {% endfor %}
 
                </div>
            </div>

        </div>                
    </div>
</div>
{% endblock %}

