{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'assets/chat.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

{% endblock %}
{% block content %}

<body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-md-4 bg-white">

        <ul class="friend-list">
          {% if channels %}
            {% for channel in channels %}
            <li class="active bounceInDown">
              <a href="{% url 'chat_people' channel.channel_id %}" class="clearfix">
                <div class="friend-name">
                  <strong>{{channel.other_user.first_name}} {{channel.other_user.last_name}}</strong>
                  {% if channel.other_user.is_verified%}
                  <span class="bi bi-patch-check" style="color: rgb(70, 195, 70);"></span>
                  {% endif %}
                </div>
                <div class="last-message text-muted">Click to chat/view</div>
              </a>
            </li>
            {% endfor %}
            {% else %}
            <h2>You have no messages</h2>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-8 bg-white">
        <div class="chat-message">
          <ul class="chat">
            {% for c in chats %}
            {% if c.message_from == request.user %}

            <li class="right clearfix">
              <span class="chat-img pull-right">
                
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">YOU</strong>
                  &nbsp;
                  <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>{{c.created_at}}</small>
                </div>
                <p>{{c.message}}</p>
              </div>
            </li>
            {% else %}
            <li class="left clearfix">
              <span class="chat-img pull-left">
                
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">{{c.message_from.first_name}} {{c.message_from.last_name}}</strong>
                </div>
                <p>{{c.message}}</p>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% if channels %}
        <div class="chat-box bg-white">
          <form action="{% url 'send_chat' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="channel_id" value="{{request.path}}">
            <div class="input-group">
              <input name="message" class="form-control border no-shadow no-rounded"
                placeholder="Type your message here" />
              <span class="input-group-btn">
                <button class="btn btn-success no-rounded" type="submit">
                  Send
                </button>
              </span>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript"></script>
</body>

{% endblock %}