{% extends 'base.html' %}

{% block content %}

<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">

        <div class="row">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="col-md-8">
            <div class="box-for overflow">
                <div class="col-md-12 col-xs-12 login-blocks">
                    <h2>Login : </h2>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default"> Log in</button> 
                            <span class="ml-2"> Don't have an account ? <a href="{% url 'register'%}">Register</a></span>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>


{% endblock %}