{% extends 'base.html' %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container mb-4 main-container">
    <div class="row">
        <div class="col-lg-4 pb-5">

            <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item active" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="d-inline-block font-weight-medium text-uppercase">Profile</div>
                            </div>
                        </div>
                    </a>
                    <div class="list-group-item">
                        <p>Name: {{user.first_name}} {{user.last_name}}</p>
                        <p>Email: {{user.email}}</p>
                    </div>
                    {% if not has_certificate  %}
                    <div class="list-group-item">
                        <form action="{% url 'upload-certificate' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <label>Upload Certificate for verification by admin</label>
                            <input type="file" name="certificate" required> 
                            <input type="submit" class="btn btn-primary">
                        </form>
                    </div>
                    {% else %}
                    <div class="list-group-item">
                        {% if user.is_verified %}
                            <span class="text-success">Your Account is verified by admin.</span>
                            <span class="bi bi-patch-check" style="color: rgb(76, 241, 76);"></span>
                        {% else %}
                        <p>You have already uploaded the certificate. <br>
                            An admin will contact you if needed
                        </p>
                        {% endif %}
                    </div>
                    {% endif %}
                </nav>
            </div>
        </div>
        <!-- Orders Table-->
        <div class="col-lg-8 pb-5">
            <h3>Your Posts</h3>
            
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Post #</th>
                            <th>Date Posted</th>
                            <th>Is Featured</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                            <tr>
                                <td><a class="navi-link" href="#order-details" data-toggle="modal">{{post.pk}}</a></td>
                                <td>{{post.created_at}}</td>
                                <td><span class="badge badge-danger m-0">{{post.is_featured}}</span></td>
                                <!-- <td><span>$760.50</span></td> -->
                            </tr>
                        {% empty %}
                            <h3>You dont have any posts yet</h3>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}